<nav class="navbar">
    <div class="container navbar-wrap">
        <div class="navbar-logo">
            <a href="index.html">眼鏡官網</a>
        </div>
        <ul class="navar-nav">
            <li class="navbar-item"><a class="navbar-link" href="#">系列鏡框</a></li>
            <li class="navbar-item"><a class="navbar-link" href="store.html">門市據點</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">部落格</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">常見問題</a></li>
        </ul>
    </div>
</nav>