// 主色
$primary: #AA0601;
// 主頁副底色-米色
$indexBg2: #FBF2F2;
// 首頁標題
$indexTitle: #650300;
// 首頁日期
$date: #707070;
// 門市據點-聯絡資訊顏色
$storeText: #212529;
// font-size
$font-s: 14px;
$font-base: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 36px;
$font-2xl: 48px;
$font-3xl: 64px;
// 按鈕文字
$btnText: 'Noto Sans TC', sans-serif;
// 英文字.編號.價格
$enFont: 'Roboto', sans-serif;
